.burgerMenu {
    top: 0;
    position: absolute;
    display: none;
}

.burgerBlock{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.burger {
    z-index: 10;
    margin: 50px 0 0 30px;
    cursor: pointer;


}

@media screen and (max-width: 429px) {
    .burger {
        margin: 55px 0 0 20px;
    }

}
@media screen and (max-width: 1024px) {
    .burgerMenu {
        display: flex;
    }
}

