.contactsBlock {
    min-height: 700px;
    border: 1px solid;
}

.title {
    border: 1px solid black;
    margin: 15px auto;
}

.contactsContainer {
    width: 100%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.formBlock {
    display: flex;
    justify-content: space-around;
}

.myContacts {
    width: 400px;

    border: 1px solid black;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
}

.form {
    width: 60%;
    border: 1px solid black;
}

.address {
    margin-top: 20px;
    margin-left: 10px;

}

.email {
    margin-left: 10px;

}

.phone {
    margin-left: 10px;

}

.contactsContainer a {
    border: 1px solid;
}

.formContainer {
    width: 400px;

    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textField {
    resize: vertical;
    font-family: "Poppins", sans-serif;
    border: 1px solid;
    width: 100%;
    padding: 12px 26px;
    height: 200px;
    overflow: hidden;
    border-radius: 30px;
    outline: none !important;
    transition: .3s;
}

.textContainer {

}

input {
    border-radius: 30px;
    outline-color: #72b626;
    padding: 11px 26px;
    outline: none !important;
    transition: .3s;
    width: 100%;
    height: 48px;
    border: 1px solid #ddd;
    margin-bottom: 10px;

}

textarea {
    width: 100%;
    padding: 11px 26px;
}

.submitBtn button {
    display: flex;
    width: 219px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    background-color: #fff;
    padding: 10px 15px;
    transition: .3s;
    border: 1px solid #ddd;;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.submitBtn button:hover {
    background-color: #72b626;
    color: #fff;
}

.submitBtn button::after {
    content: "";
    background-image: url(../assets/plane-2.svg);
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;

}



.inputs {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    justify-content: space-around;
}


@media screen and (max-width: 1000px) {
    .formBlock {
        flex-direction: column;
        align-items: center;
    }

    .form {
        width: 100%;
        margin: 30px 0;
    }

    .myContacts {
        width: 100%;
    }

    .inputs {
        display: flex;
        flex-direction: column;
    }

    .contactsBlock {
        margin-bottom: 50px;
    }
}


@media screen and (max-width: 819px) {

}

