.contactsBlock{
    min-height: 700px;
    border: 1px solid;
}
.form{
    max-width: 100%;
}

.contactsContainer{
    min-height: 500px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contactsContainer a {
    border: 1px solid;
}

.formContainer{
    width: 400px;
    min-height: 70%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textField{
    resize: vertical;
    font-family: "Poppins",sans-serif;
    color: #666;
    border: 1px solid;
    max-width: 100%;
    padding: 12px 26px;
    height: 100px;
    overflow: hidden;
    border-radius: 30px;
    outline: none!important;
    transition: .3s;
}
textarea{

    width: 100%;
}
.inputs{
    display: flex;

}
