.contactsBlock {
    min-height: 700px;
}

.title {
    margin: 15px auto;
}

.contactsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formBlock {
    display: flex;
    justify-content: center;
}

.myContacts {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
    padding-left: 20px;
}

.form {
    width: 45%;
}

.address {
    display: flex;
    margin-top: 20px;
}
.address::before{
    content:url('../assets/location.svg');
    margin-right: 10px;
    margin-top: 5px;
}

.email {
    display: flex;
    margin-top: 20px;;
}
.email::before{
    content:url('../assets/email.svg');
    margin-right: 10px;
    margin-top: 5px;
}

.phone {
    display: flex;
    margin-top: 20px;

}
.phone::before{
    content:url('../assets/phone.svg');
    margin-right: 10px;
    margin-top: 5px;
}



.formContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textField {
    resize: vertical;
    font-family: "Poppins", sans-serif;
    border: 1px solid;
    width: 100%;
    padding: 12px 26px;
    height: 200px;
    overflow: hidden;
    border-radius: 30px;
    outline: none !important;
    transition: .3s;
    margin-bottom: 5px;
    border-color: #ddd
}

.textContainer {

}

input {
    border-radius: 30px;
    outline-color: #72b626;
    padding: 11px 26px;
    outline: none !important;
    transition: .3s;
    width: 100%;
    height: 48px;
    border: 1px solid #ddd;
    margin-bottom: 10px;

}

textarea {
    width: 100%;
    padding: 11px 26px;
}

.submitBtn button {
    display: flex;
    width: 219px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    background-color: #fff;
    padding: 10px 15px;
    transition: .3s;
    border: 1px solid #ddd;;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
    color: black;
}

.submitBtn button:hover {
    background-color: #72b626;
    color: #fff;
}

.submitBtn button::after {
    content: "";
    background-image: url(../assets/plane-2.svg);
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;

}
.downloadBtn{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.downloadBtn h1{
    font-size: 50px;
    font-weight: bold;
}
.download {
    background: url(../images/download-button.svg);
    background-repeat: no-repeat;
    padding: 18px;
    text-decoration: none;
    margin: 0 auto;
}


.inputs {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    justify-content: space-around;
}
.inputs div{
    width: 100%;
}


@media screen and (max-width: 1000px) {
    .formBlock {
        flex-direction: column;
        align-items: center;
    }

    .form {
        width: 100%;
        margin: 30px 0;
    }

    .myContacts {
        width: 100%;
    }

    .inputs {
        display: flex;
        flex-direction: column;
    }

    .contactsBlock {
        margin-bottom: 50px;
    }
}


@media screen and (max-width: 819px) {
    .textField {
        height: 120px;
    }
    .submitBtn{
        display: flex;
        justify-content: flex-end;
    }
}

