.container{
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid;
}


@media screen and (max-width: 788px) {
    .container{
        justify-content: center;
    }
}
