.titleBlock{
    position: relative;
    display: flex;
    justify-content: center;
}
.title{
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    font-weight: 900!important;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.2;
}
.title span{
    color: #72b626;
}
