.projectBlock {
    min-width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px 5px;
    position: relative;
    overflow: hidden;
}

.imgContainer {
    background-color: #72b626;
    width: 100%;
    min-height: 250px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    left: 0;
    top: 0;
}

.imgContainer a {

}

.projectTitle {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.discription {
    color: #000;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.descriptionBlock {
    position: absolute;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    -webkit-backdrop-filter: blur(10px);
    transform: translate(0, 20px);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.descriptionBlock .btn {
    background-color: black;
    display: block;
    max-width: 100px;
    padding: 5px 10px;
    color: white;
}


.projectBlock:hover .descriptionBlock {
    opacity: 1;
    transform: translate(0, 0px);
}


.btn {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    opacity: 0.7;

}

.btn_icon {
    padding: 5px;
    transition: all 0.5s ease-in-out;
}

.btn_icon:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1142px) {
    .projectBlock {
        min-width: 48%;
        flex-direction: row;
        justify-content: center;
        margin: 10px auto;
    }
}

@media screen and (max-width: 765px) {
    .projectBlock {
        min-width: 100%;
    }
    .projectTitle h2 {
        font-size: 15px;
    }
}



