.navLinks {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-right: 5%;
}

.navLinks button {
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: 400;
    cursor: pointer;

}

.navLinks button:hover {
    cursor: pointer;
    color: #72b626;
}

.links {
    display: flex;
}
.links li{
    margin-right: 10px;
}
