.footerBlock {
    min-height: 400px;
    border: 1px solid;
}

.footerContainer {
    min-height: 200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footerContainer h2 {
    font-weight: bold;
    font-size: 25px;
}

.itemContainer {
    border: 1px solid;
    min-width: 20%;

    display: flex;
    justify-content: space-around;
}

.footerContainer a {
    font-size: 25px;
    color: black;
    padding: 0 5px;

}
.email{
    border-bottom: 2px solid black;
}
.image {
    height: 50px;
    border-radius: 11px;
}
