.footerBlock {
    min-height: 250px;
}

.footerContainer {
    min-height: 200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footerContainer h2 {
    font-weight: bold;
    font-size: 25px;
}

.itemContainer {
    min-width: 10%;
    display: flex;
    justify-content: space-around;
}

.footerContainer a {
    font-size: 25px;
    color: black;
    padding: 0 5px;

}

.email {
    border-bottom: 2px solid black;
}

.image {
    height: 50px;
    border-radius: 11px;
}

@media screen and (max-width: 585px) {
    .footerContainer h2 {
        font-weight: bold;
        font-size: 20px;
    }
    .footerContainer a {
        font-size: 20px;
        color: black;
        padding: 0 5px;
        margin-bottom: 10px;

    }
}
