.remoteWorkBlock{
    border: 1px solid;
    min-height: 30vh;
}
.remoteWorkContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    width: 100%;
    padding: 10px;
    border: 1px solid;
}
.text{
    align-items: center;

}
.remoteWorkContainer a {
    border: 1px solid;
}
