.aboutMeBlock {
    border: 1px solid;
    min-height: 30vh;
}

.aboutMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    width: 100%;
    padding: 10px;
    border: 1px solid;
}

.text {
    align-items: center;
    justify-content: space-between;
}

.aboutMe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

}

.description {
    width: 50%;
}

.aboutMeContainer a {
    border: 1px solid;
}

.photo {
    width: 350px;
    border: 1px solid;
}

.photo img {
    width: 100%;
}



@media screen and (max-width: 765px) {
    .aboutMe {
        flex-direction: column-reverse;

    }

    .photo {
        margin-bottom: 30px;
    }
}
