.aboutMeBlock {
    border: 1px solid;

}

.aboutMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    width: 100%;
    padding: 10px;
    border: 1px solid;

}

.text {
    align-items: center;
    justify-content: space-between;
}

.aboutMe {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
}

.description {
    width: 50%;
    border: 1px solid black;
}

.aboutMeContainer a {
    border: 1px solid;
}

.photo {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    border: 1px solid;
}

.photo img {
    width: 50%;
}



@media screen and (max-width: 765px) {
    .aboutMe {
        flex-direction: column-reverse;
        align-items: center;
    }
    .photo{
        width: 80%;
    }
    .photo img{
        margin-bottom: 30px;
        width: 100%;
    }
    .description {
        width: 90%;
        border: 1px solid black;
    }
    .text{
        margin-top: 30px;
    }
}
