.projectsBlock {
    border: 1px solid;


}
.projectsContainer {
    border: 1px solid;
    flex-direction: column;
}
.projects{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1014px) {
    .projects {
        align-items: center;
        flex-direction: column;
    }

}



