.projectsBlock {
    border: 1px solid;
    height: 100vh;
    background: #fbffa6;

}
.projectsContainer {
    border: 1px solid;
    flex-direction: column;
    /*justify-content: flex-start;*/
}
.projects{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
